<input #_fileInput type="file" (change)="imageChange($event)" accept="image/*">

<ly-img-cropper
[config]="myConfig"
[(scale)]="scale"
(minScale)="minScale = $event"
(ready)="ready = true"
(cleaned)="ready = false"
(cropped)="onCropped($event)"
(loaded)="onLoaded($event)"
(error)="onError($event)"
>
<span>Drag and drop image</span>
</ly-img-cropper>


<button *ngIf="ready" color="accent" (click)="cropper.crop()" ly-button>
crop
</button>

<div><img [class]="classes.cropResult" [src]="croppedImage" width="200" height="200"></div>
<div id="avatarImage"></div>
<image-cropper
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true"
    [aspectRatio]="4 / 3"
    format="png"
    (imageLoaded)="imageLoaded($event)"
    (imageCropped)="imageCropped($event)"
    (cropperReady)="cropperReady($event)"
></image-cropper>