<input type="file" (change)="fileChangeEvent($event)" />

<image-cropper
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true"
    [aspectRatio]="1 / 1"
    format="png"
    (imageCropped)="imageCropped($event)"
    (imageLoaded)="imageLoaded($event)"
    (cropperReady)="cropperReady()"
    (loadImageFailed)="loadImageFailed()"
    [roundCropper]="true"
    [hideResizeSquares]="true"
    [onlyScaleDown]="true"
></image-cropper>


<img [src]="croppedImage" [ngStyle]="{width: '300px', borderRadius: '50%'}" />
