<input #_fileInput type="file" (change)="imageChange($event)" accept="image/*">

<ly-img-cropper
[config]="myConfig"
[(scale)]="scale"
(minScale)="minScale = $event"
(ready)="ready = true"
(cleaned)="ready = false"
(cropped)="onCropped($event)"
(loaded)="onLoaded($event)"
(error)="onError($event)"
>
<span>Drag and drop image</span>
</ly-img-cropper>


<button *ngIf="ready" color="accent" (click)="cropper.crop()" ly-button>
crop
</button>

<div><img [class]="classes.cropResult" *ngIf="croppedImage" [src]="croppedImage"></div>